<details class="dropdown lang-switcher navbar-item navbar-link is-arrowless has-text-weight-semibold">
        <summary class="nav" role="button" aria-haspopup="true" title="{{ trans(key="language_selection", lang=lang) }}" aria-label="{{ trans(key="language_selection", lang=lang) }}">
	  <span class="lang-switcher-icon">
            {{ trans(key="language_selection", lang=lang) }}
	  </span>
        </summary>
        <div class="dropdown-content" role="menu">
            {#- Display the current language first in the dropdown -#}
	    <div class="dropdown-lang-select">
            {{ trans(key="language_name", lang=lang) | upper }}
	    </div>
            {#- Loop through all the available languages in the config -#}
            {%- for lcode, ldetails in config.languages -%}
                {#- Skip the current language to avoid linking to the current page -#}
                {%- if lang == lcode -%}
                    {%- continue -%}
                {%- endif -%}
                {#- Dynamically load the language strings for each language -#}
                {%- set other_language_strings = load_data(path="_index" ~ lcode ~ ".md", required=false) -%}
                {#- Use the loaded language strings to get the language name -#}
                {% set language_name = trans(key="language_name") %}
                {#- Check if the language code matches the default language -#}
                {%- if lcode == config.default_language -%}
                    {#- If it does, link to the root path (no language code in URL) -#}
		    <div class="dropdown-lang"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="{{ current_path | replace(from='/' ~ lang ~ '/', to = '/') }}">{{ lcode | upper }}</a></div>
                    {#- Check if the current language is the default language -#}
                    {#- If it is, append the language code to the base URL -#}
                {%- elif lang == config.default_language -%}
		    <div class="dropdown-lang"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="/{{ lcode }}{{ current_path | default(value="/") | safe }}">{{ lcode | upper }}</a></div>
                {%- else -%}
                    {#- If it's not, replace the current language code in the URL with the new one -#}
		    <div class="dropdown-lang"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="{{ current_path | replace(from='/' ~ lang ~ '/', to='/' ~ lcode ~ '/') }}">{{ lcode | upper }}</a></div>
                {%- endif -%}
            {%- endfor -%}
        </div>
</li>
