@charset "utf-8"

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 100
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 100
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 100
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 200
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 200
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 200
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 300
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 300
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 300
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 400
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 400
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 400
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 500
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 500
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 500
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 600
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 600
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 600
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 700
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 700
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 700
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 800
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 800
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 800
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 900
  font-display: swap
  src: url(../webfonts/cyrillic-italic.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 900
  font-display: swap
  src: url(..webfonts/latin-ext-italic.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: italic
  font-weight: 900
  font-display: swap
  src: url(../webfonts/latin-italic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 100
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 100
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 100
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 200
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 200
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 200
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* cyrillic */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url(../webfonts/cyrillic-normal.woff2) format('woff2')
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* latin-ext */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url(../webfonts/latin-ext-normal.woff2) format('woff2')
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face 
  font-family: 'Jost'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url(../webfonts/latin-normal.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD



// Update Bulma's global variables
$family-sans-serif: "Jost", sans-serif
$footer-padding: 1.0rem 2.5rem

/* on small resolutions */
@media screen and (max-width:1023px) 
  /* add left and right margins to menu */
  .navbar-brand
    margin-left: 0.5em!important
  
  .navbar-menu
    margin-right: 0.5em!important
  
  /* allow menu items to wrap */
  .navbar-menu
    flex-shrink: 1!important
  
  .navbar-end
    flex-wrap: wrap!important

html
    scroll-behavior: smooth

body
    font-family: $family-sans-serif
    display: flex
    flex-direction: column
    min-height: 100vh

section
    flex: 1

#dark-mode
    display: none

.menu
  position: sticky 
  top: 48px
  max-height: calc(100vh - 48px)
  overflow-y: scroll

div.column.is-2.is-hidden-mobile
  padding-right: 0px !important

img 
  margin: auto
  display: block

#image-gay
  width: auto
  height: auto
  max-height:90vh

ul
  font-size: 18px
  color: #373737 !important

.toc
  font-size: 15.5px !important

ol
  font-size: 18px
  color: #373737 !important

p
  font-size: 18px
  color: #373737 !important

h1
  text-align: center !important
  font-size: 2.8em !important

h1:not(.title)
  text-decoration: underline black !important

h2:not(.title)
  font-size: 1.8em !important
  margin-top: 2.5rem !important
  margin-bottom: 2rem !important

h3
  font-size: 1.4em !important
  font-style: italic !important

h4
  font-size: 1.1em !important
  text-decoration: underline !important

a
  color: #AE3B8B

.menu-list a.is-active
  background-color: #AE3B8B

.lang-switcher
  list-style: none
  cursor: pointer

.dropdown
  padding: 0 !important 

.nav
  padding: 1rem .75rem

.nav-left
  margin-left: 0 !important

.navbar-item:hover
  color: #4a4a4a !important

.navbar-item:focus-within
  color: #4a4a4a !important

.dropdown .dropdown-content
  text-align: center

.dropdown-content
  position: absolute !important
  padding: 0
  display: flex
  flex-direction: row
  right: 0
  top: 100%

.dropdown-lang
  background-color: #f5f5f5
  padding-left: 0.5rem
  padding-right: 0.5rem
  padding-top: 0.5rem
  padding-bottom: 0.5rem

.dropdown-lang-select
  background-color: #e8e8e8
  padding-left: 0.5rem
  padding-right: 0.5rem
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  cursor: default !important

code
  color: #AE3B8B

.icon-text
  font-size: 16px

.footer-text
  color: black !important

.footer > * > * > *
  margin-left: .5em
  margin-right: .5em

.icon-text
  align-items: center

summary:not(.nav)
  cursor: pointer
  margin-top: 0.5em

summary.nav
  list-style: none

summary > p
  display: inline

body[theme="dark"]
    background-color: black !important

body[theme="dark"] article.box
    background-color: black !important
    box-shadow: 0 .5em 1em -.125em rgba(245,245,245,.1),0 0 0 1px rgba(245,245,245,.02)

body[theme="dark"] blockquote 
    background-color: #090809 !important
    border-left: 5px solid #232223

body[theme="dark"] .navbar 
    background-color: #090809 !important

body[theme="dark"] .footer
    background-color: #090809 !important


body[theme="dark"] .navbar-item 
    color: #c9c7c9 !important

body[theme="dark"] .navbar-item:hover
    color: black !important

body[theme="dark"] .navbar-item:focus
    color: black !important

.navbar-item:hover>span>img[theme=dark]:not(.no-dark),
.navbar-item:hover>summary>span>img[theme=dark]:not(.no-dark)
 filter: invert(0) hue-rotate(0deg)

body[theme="dark"] p 
    color: #c9c7c9 !important

body[theme="dark"] .published 
    color: #c9c7c9 !important

body[theme="dark"] strong
    color: #c9c7c9 !important

body[theme="dark"] ol 
    color: #c9c7c9 !important

body[theme="dark"] ul 
    color: #c9c7c9 !important

body[theme="dark"] .title
    color: #c9c7c9 !important

body[theme="dark"] h1
    color: #c9c7c9 !important

body[theme="dark"] h1:not(.title)
    text-decoration: underline #c9c7c9 !important

body[theme="dark"] h2
    color: #c9c7c9 !important

body[theme="dark"] h3
    color: #c9c7c9 !important

body[theme="dark"] h4
    color: #c9c7c9 !important

body[theme="dark"] a.toc
    color: #c9c7c9 !important

body[theme="dark"] a.toc:hover
    color: black !important
    
body[theme="dark"] a:not(.toc,.navbar-item,.footer-text,.has-text-dark)
    color: #fa86d8 !important

body[theme="dark"] a.has-text-dark
    color: #c9c7c9 !important

body[theme="dark"] code 
    color: #fa86d8 !important
    background-color: #090809 !important

body[theme="dark"] a.is-active
    background-color: #fa86d8 !important
    color: black !important

img[theme=dark]:not(.no-dark)
    filter: invert(1) hue-rotate(180deg)

body[theme="dark"] .footer-text
  color: white !important

