{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">
        <span class="icon">
          <img src="/images/cube.png">
        </span>
        {{ trans(key="categories", lang=lang) }}
      </h1>
      <p>
        {% for category in terms %}
          {% if lang == 'en' %}
	  <a href="/categories/{{category.name | lower}}" class="mr-4">
          {% endif %}
          {% if lang != 'en' %}
	  <a href="/{{lang}}/categories/{{category.name | lower}}" class="mr-4">
          {% endif %}
          <span class="icon is-small">
            <img src="/images/cube.png">
          </span>
          <span>{{ trans(key=category.name | lower, lang=lang) }} <sup>{{ category.pages | length }}</sup></span>
        </a>
        {% endfor %}
      </p>
    </div>
  </div>
</section>
{% endblock content %}
