{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">
        <span class="icon">
          <img src="/images/tag.png">
        </span>
        Tags
      </h1>
      <p>
        {% for tag in terms %}
          {% if lang == 'en' %}
	  <a href="/tags/{{tag.name | lower}}" class="mr-4">
          {% endif %}
          {% if lang != 'en' %}
	  <a href="/{{lang}}/tags/{{tag.name | lower}}" class="mr-4">
          {% endif %}
          <span class="icon is-small">
            <img src="/images/tag.png">
          </span>
          <span>{{ trans(key=tag.name, lang=lang) }} <sup>{{ tag.pages | length }}</sup></span>
        </a>
        {% endfor %}
      </p>
    </div>
  </div>
</section>
{% endblock content %}
